
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string UserName = ViewBag.UserName;
}

<h2>Welcome! @UserName</h2>

@*MODAL WINDOW TO POST AND UPDATE AN EVENT*@
<div class="modal fade" id="EventModal" tabindex="-1" role="dialog" aria-labelledby="EventModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EventModalLabel">Evento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="IdEvent" />
                    <input type="hidden" id="UserOwner" value="@UserName" />
                    <div class="form-group">
                        <label for="Name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control col-6" id="Name">
                    </div>
                    <div class="form-group">
                        <label for="Description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="Date" class="col-form-label">Date</label>
                        <input type="text" class="datepicker form-control" id="Date">
                    </div>
                    <div class="form-group">
                        <label for="Place" class="col-form-label">Place</label>
                        <input type="text" class="form-control" id="Place">
                    </div>
                    <div class="form-group">
                        <label for="Type">Category</label>
                        <select id="TypeEvent" class="form-control">
                            <option value="1">Exclusive</option>
                            <option value="2">Sharable</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Participantes</label>
                        <input type="number" class="form-control" id="Participants" />
                    </div>
                </form>
            </div>




            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="SaveAndUpdate();" class="btn btn-primary">Savex</button>
            </div>
        </div>
    </div>
</div>
@*MODAL WINDOW FOR FILTER POURPOSE*@
<div class="modal fade" id="EventFilter" tabindex="-1" role="dialog" aria-labelledby="EventFilterLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EventFilterLabel"> <i class="fa fa-filter" aria-hidden="true"></i>Filter my events</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="IdEvent" />
                    <input type="hidden" id="TypeFilter" value=""/>
                    <input type="hidden" id="UserOwner" value="@UserName" />
                    <div class="form-group">
                        <label for="Year" class="col-form-label">Year:</label>
                        <input type="number" class="form-control col-6" id="Year">
                    </div>
                    <div class="form-group">
                        <label for="Month" class="col-form-label">Month:</label>
                        <input type="number" class="form-control" id="Month">
                    </div>
                    <div class="form-group">
                        <label for="Days" class="col-form-label">Day</label>
                        <input type="number" class="form-control" id="Day">
                    </div>
                    <div class="form-group">
                        <label for="DateFilter" class="col-form-label">Day</label>
                        <input type="Date" class="form-control" id="DateFilter">
                    </div>
                    <div class="form-group">
                        <label for="Place" class="col-form-label">Place</label>
                        <input type="text" class="form-control" id="PlaceFilter">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Type</label>
                        <select class="form-control" id="TypeEventFilter">
                            <option value="1">Exclusive</option>
                            <option value="2">Shareable</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Participants</label>
                        <input type="number" class="form-control" id="ParticipantsFilter" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="FilterLoad();" class="btn btn-primary">
                <i class="fa fa-search"></i>
                Search</button>
            </div>
        </div>
    </div>
</div>
@*MODAL WINDOW FOR CREATE A NEW SCHEDULE*@
<div class="modal fade" id="SheduleModal" tabindex="-1" role="dialog" aria-labelledby="SheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SheduleModalLabel"> <i class="fa fa-calendar" aria-hidden="true"></i>Filter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="IdSchedule" />
                    

                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Schedule Name</label>
                        <input type="text" class="form-control" id="NameSchedule" />
                    </div>
                </form>
            </div>




            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="SaveAndUpdateSchedule();" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
@*MODAL WINDOW TO POST AND UPDATE AN SCHEDULEITEM*@
<div class="modal fade" id="SheduleModalItem" tabindex="-1" role="dialog" aria-labelledby="SheduleModalItemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SheduleModalLabel"> <i class="fa fa-calendar" aria-hidden="true">Choose the schedule where you want to add it</i></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    
                    <input type="hidden" id="IdEventSchedule" />
                    <input type="hidden" id="IdUserEvent" />
                    <div class="form-group">
                        <label for="Schedule" class="col-form-label">Schedule</label>
                        <select class="form-control" id="DropdownSchedule" name="DropdownSchedule">
                         </select>
                       
                    </div>
                </form>
            </div>




            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="SaveScheduleEvent();" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>


@*MODAL TO INVITE USERS*@
<div class="modal fade" id="InviteUser" tabindex="-1" role="dialog" aria-labelledby="SheduleModalItemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="InvateUserLabel"> <i class="fa fa-calendar" aria-hidden="true">Choose the schedule where you want to add it</i></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <input type="hidden" id="IdEventInvite" />
                    
                    <div class="form-group">
                        <label for="Schedule" class="col-form-label">User</label>
                        <input type="text" class="form-control" id="IdUserInvite"/>

                    </div>
                </form>
            </div>




            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="SaveNotificationEvent();" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>


@*PANELS*@
<div class="row">
    <!-- Events -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Events</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <label id="Events"></label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Calendars -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Today Events</div>
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                            <label id="TodayEvents">
                                Under construction :)
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Exclusive Events -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Exclusives</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                    <label id="Exclusives"></label>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-star fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Invitations -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Invitations</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Under construction :)</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*EVENTS COLUMNS*@
<div class="row">
    @*MY EVENTS*@
    <div class="col-7">
        <div class="card border-left" style="max-height:1000Px; overflow-y:auto">
            <div class="card-header bg-primary">

                <button type="button" class="btn btn-secondary float-lg-right" data-toggle="modal" data-target="#EventModal">
                    New Event
                    <i class="fa fa-plus"></i>
                </button>
                <button type="button" class="btn btn-success float-lg-right" data-toggle="modal" data-target="#EventFilter">
                    Filter
                    <i class="fa fa-search 2x"></i>
                </button>
                <button type="button" class="btn btn-warning float-lg-right" data-toggle="modal" data-target="#SheduleModal">
                    Calendar
                    <i class="fa fa-plus 2x"></i>
                </button>
            </div>
            <div class="card-body">
                <h4>My Events</h4>
                <hr />
                <div class="row row-cols-1 row-cols-md-4 carditem">

                </div>
                <h4>External Events</h4>
                <hr />
                <div class="row row-cols-1 row-cols-md-4 cardScheduleEvent">

                </div>
            </div>
            
        </div>
    </div>
    @*EXTERNAL EVENTS*@
    <div class="col-5">
        <div class="card border-primary" style="max-height:1000Px; overflow-y:auto">
            <div class="card-header bg-info">
                @*<button type="button" class="btn btn-secondary float-lg-right" data-toggle="modal" data-target="#EventModal">
                    New Event
                    <i class="fa fa-plus"></i>
                </button>*@
                <button type="button" class="btn btn-success float-lg-right" data-toggle="modal" data-target="#EventFilter" onclick="SetTypeFilter()">
                    Filter
                    <i class="fa fa-search 2x"></i>
                </button>
            </div>
            <div class="card-body">
                <h4>External Events</h4>
                <hr />
                <div class="row row-cols-1 row-cols-md-2 carditemdifferent">

                </div>
            </div>
           
        </div>
    </div>
    
</div>





<script type="text/javascript">



    $(document).ready(function () {

        $(".datepicker").datepicker();
        $(".datepicker").datepicker("setDate", new Date("getate()"));

       


        LoadEvents();
        LoadDifferentEvents();
        LoadScheduleEvent();
        LoadSchedule();
        //document.getElementById("Date").valueAsDate = new Date();

    });

    function LoadEvents() {
        var user = $('#UserOwner').val();
        
        $.ajax({
            url: '/Api/Events/',
            type: 'GET',
            dataType: 'json',
            data: {
                UserOwner: user,
                Year: $('#Year').val(),
                Month: $('#Month').val(),
                Day: $('#Days').val(),
                Date: $('#DateFilter').val(),
                Place: $('#PlaceFilter').val(),
                Participants: $('#Participants').val(),
                TypeEvent: $('#TypeEventFilter').val()
            },
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                var html = '';
                let TypeEvent = ['Exclusive', 'Shareable'];
                var totalEvents = 0;
                var exclusive = 0;
                $.each(result.Data, function (key, item) {
                    html += '<div class="col mb-3">';
                    if (item.TypeEvent === 2) {
                        html += '<div class="card h-100">';
                        exclusive++;
                    }
                    else {
                        html += '<div class="card border-danger h-100">';
                    }
                    html += '<svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>';
                    html += '<div class="card-body">';
                    html += '<h4 class="card-title">' + item.Name + '</h4>';
                    html += '<p class="card-text">' + item.Description + '</p><br/>';
                    html += '<span><b>Created by:</b>   ' + item.UserOwner + '</span></br>';

                   
                    html += '<span><b>Type:</b>   ' + TypeEvent[item.TypeEvent - 1] + '</span></br>';
                    html += '<span><b>Date:</b>   ' + item.Date + '</span></br>';
                    html += '<span><b>Place:</b>   ' + item.Place + '</span></br>';
                    html += '<span><b>Participants:</b>   ' + item.Participants; +'</span></br>';
                    html += '<hr/>';
                    html += '<button class="btn btn-info float-lg-right" onclick="GetByID(' + item.IdEvent + ')"><i class="fa fa-pencil"></i></button >';
                    html += '<button class="btn btn-danger float-lg-right" onclick="Delete(' + item.IdEvent + ')"><i class="fa fa-trash"></i></button>';
                    if (item.TypeEvent===1)
                    {
                        html += '<button class="btn btn-primary float-lg-right" onclick="InviteEvent(' + item.IdEvent + ')"><i class="fas fa-user-friends"></i></button>';
                    }
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                    totalEvents++;
                })
                document.getElementById('Events').innerHTML
                    = new Intl.NumberFormat('es-UY').format(totalEvents);
                document.getElementById('Exclusives').innerHTML
                    = new Intl.NumberFormat('es-UY').format(exclusive);
                
                $('.carditem').html(html);
                
            }
            
        });
       
    }
    function LoadDifferentEvents()
    {
        $.ajax({
            url: '/Api/Events/',
            type: 'GET',
            dataType: 'json',
            data: {
                UserOwner: '',
                Year: $('#Year').val(),
                Month: $('#Month').val(),
                Day: $('#Days').val(),
                Date: $('#DateFilter').val(),
                Place: $('#PlaceFilter').val(),
                Participants: $('#Participants').val(),
                TypeEvent: $('#TypeEventFilter').val()
            },
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                var html = '';
                let TypeEvent = ['Exclusive', 'Shareable'];
                var border = 'border-primary';
                $.each(result.Data, function (key, item) {
                   
                    html += '<div class="col mb-3">';
                    if (item.TypeEvent === 2) {
                        html += '<div class="card h-100">';
                    }
                    else
                    {
                        html += '<div class="card border-danger h-100">';
                    }
                        
                        html += '<svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>';
                        html += '<div class="card-body">';
                        html += '<h4 class="card-title">' + item.Name + '</h4>';
                        html += '<span><b>Created by:</b>   ' + item.UserOwner + '</span></br>';


                       html += '<span><b>Type:</b>   ' + TypeEvent[item.TypeEvent - 1] + '</span></br>';
                       html += '<span><b>Date:</b>   ' + item.Date + '</span></br>';
                       html += '<span><b>Place:</b>   ' + item.Place + '</span></br>';
                       html += '<span><b>Participants:</b>   ' + item.Participants; +'</span></br>';
                       html += '<hr/>';
                       html += '<button class="btn btn-info float-lg-right" onclick="BookEvent(' + item.IdEvent + ')"><i class="fa fa-calendar"></i></button >';
                        
                        html += '</div>';
                        html += '</div>';
                        html += '</div>';
                    
                   
                })

                $('.carditemdifferent').html(html);
            }
        });
    }
    function FilterLoad() {
        var filterlist = $('#TypeFilter').val();
        if (filterlist === 'ExternalList') {
            LoadDifferentEvents();
            $('#TypeFilter').val("");
        }
        else
        {
            LoadEvents();
        }
       
        ClearFilter();
        $('#EventFilter').modal('hide');
    }
    function FilterLoadExternal()
    {
        LoadDifferentEvents();
        ClearFilter();
        $('#EventFilter').modal('hide');
    }
    function SaveAndUpdate() {
        var data = {
            IdEvent: $('#IdEvent').val(),
            Name: $('#Name').val(),
            Description: $('#Description').val(),
            Date: $('#Date').val(),
            Place: $('#Place').val(),
            TypeEvent: $('#TypeEvent').val(),
            Participants: $('#Participants').val(),
        }
        $.ajax({
            url: "/Api/Events",
            type: "POST",
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (result) {

                if (result.Status === true) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Your event has been saved',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    ClearFunction();
                    $('#EventModal').modal('hide');
                    LoadEvents();
                    
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: result.Message,
                    })
                }

            }

        });
    }
    function GetByID(Id) {
        var id = Id;
        $.ajax({
            url: '/Api/Events/' + id,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (result) {
                $('#EventModal').modal('show');
                $('#IdEvent').val(result.Data.IdEvent);

                $('#Name').val(result.Data.Name);
                $('#Description').val(result.Data.Description);
                $('#Date').val(result.Data.Date);
                $('#TypeEvent option[value=' + result.Data.TypeEvent + ']').attr('selected', 'selected');
                $('#Place').val(result.Data.Place);
                $('#Participants').val(result.Data.Participants);
            }
        });


    }
    function Delete(Id) {
        $.ajax({
            url: '/Api/Events/' + Id,
            type: 'DELETE',
            dataType: 'json',
            cache: 'false',
            success: function (result) {
                if (result.Status === true) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Your event has been deleted',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: Result.Message,

                    })
                }
                LoadEvents();
            }
            
        });
    }
    function ClearFunction() {
        $('#IdEvent').val("");
        $('#Name').val("");
        $('#Description').val("");
        $('#DateFilter').val("");
        $('.TypeEvent option[value=' + 1 + ']').attr('selected', 'selected');
        $('#Place').val("");
        $('#Participants').val("");

     }
    
    function ClearFilter() {

        $('#Year').val("");
        $('#Month').val("");
        $('#Day').val("");
        $('#DateFilter').val("");

        $('#PlaceFilter').val("");
        $('#ParticipantsFilter').val("");

    }
    function SetTypeFilter()
    {
        $('#TypeFilter').val("ExternalList");
        alert($('#TypeFilter').val());
    }


    /*SCHEDULE FUNCTIONS*/
    function SaveAndUpdateSchedule()
    {
        var data = {
            IdSchedule: $('#IdEvent').val(),
            NameSchedule: $('#NameSchedule').val(),
            
        }
        $.ajax({
            url: "/Api/Schedule",
            type: "POST",
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (result) {

                if (result.Status === true) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Your schedule has been saved',
                        showConfirmButton: false,
                        timer: 1500
                    })
                   
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: result.Message,
                    })
                }
                $('#ScheduleModal').modal('hide');
                LoadSchedule();
                ClearSchedule();
            }

        });
    }
    function LoadSchedule()
    {
        $.ajax({
            url: "/Api/Schedule",
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result)
            {
                var schedule = $("#DropdownSchedule");
                $.each(result.Data, function (key, item)
                {
                    schedule.append('<option value="' + item.IdSchedule + '">' + item.NameSchedule + '</option>');
                });
            }
        });
    }
    function GetByIDSchedule(Id) {
        var id = Id;
        $.ajax({
            url: '/Api/Schedule/' + id,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (result) {
                $('#ScheduleModal').modal('show');
                $('#IdEvent').val(result.Data.IdEvent);

                $('#IdSchedule').val(result.Data.Name);
                $('#Description').val(result.Data.Description);
                $('#Date').val(result.Data.Date);
                $('#TypeEvent option[value=' + result.Data.TypeEvent + ']').attr('selected', 'selected');
                $('#Place').val(result.Data.Place);
                $('#Participants').val(result.Data.Participants);
            }
        });


                        }
    
     function ClearSchedule()
                {
                    $('#NameSchedule').val("");
    }

    /*SCHEDULEEVENT FUNCTIONS*/
    function SaveScheduleEvent()
    {
        var data = {
            IdEvent: $('#IdEventSchedule').val(),
            IdSchedule: $('#DropdownSchedule').find(":selected").val()
        }
       
        $.ajax({
            url: "/Api/ScheduleEvents",
            type: "POST",
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (result) {

                if (result.Status === true) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Your schedule has been added',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    $('#SheduleModalItem').modal('hide');
                    LoadScheduleEvent();
                    ClearSchedule();
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: result.Message,
                    })
                }
               
            }

        });
    }
    function BookEvent(Id) {
        Swal.fire({
            title: 'Do you want to schedule it?',
            text: "it will be saved in your schedule",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, do it!'
        }).then((result) => {


            if (result.isConfirmed) {
                //$.ajax({
                //    url: '/Api/ScheduleEvent',
                //    type: 'POST',

                //});
                $('#IdEventSchedule').val(Id);
                $('#SheduleModalItem').modal('show');

                //Swal.fire(
                //    'Done!',
                //    'This event has been added.',
                //    'success'
                //)
            }
        })
    }
    function LoadScheduleEvent()
    {
        $.ajax({
            url: '/Api/ScheduleEvents/',
            type: 'GET',
            dataType: 'json',
            
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                var html = '';
                let TypeEvent = ['Exclusive', 'Shareable'];
                $.each(result.Data, function (key, item) {
                    html += '<div class="col mb-3">';
                    if (item.TypeEvent === 2) {
                        html += '<div class="card h-100">';
                    }
                    else {
                        html += '<div class="card border-danger h-100">';
                    }
                    html += '<svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>';
                    html += '<div class="card-body">';
                    html += '<h4 class="card-title">' + item.Name + '</h4>';
                    html += '<p class="card-text">' + item.Description + '</p><br/>';
                    html += '<span><b>Created by:</b>   ' + item.UserOwner + '</span></br>';


                    html += '<span><b>Type:</b>   ' + TypeEvent[item.TypeEvent - 1] + '</span></br>';
                    html += '<span><b>Date:</b>   ' + item.Date + '</span></br>';
                    html += '<span><b>Place:</b>   ' + item.Place + '</span></br>';
                    html += '<span><b>Participants:</b>   ' + item.Participants; +'</span></br>';
                    html += '<hr/>';
                    //html += '<button class="btn btn-info float-lg-right" onclick="GetByID(' + item.IdEvent + ')"><i class="fa fa-pencil"></i></button >';
                    //html += '<button class="btn btn-danger float-lg-right" onclick="Delete(' + item.IdEvent + ')"><i class="fa fa-trash"></i></button>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                })

                $('.cardScheduleEvent').html(html);

            }

        });

    }

   
    /*NOTIFICATIONEVENT FUNCTIONS*/
    function InviteEvent(Id) {
        Swal.fire({
            title: 'Do you want to share this exclusive event with someone?',
            text: "it will be pending invitation for the final friend :)",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, do it!'
        }).then((result) => {


            if (result.isConfirmed) {
                //$.ajax({
                //    url: '/Api/ScheduleEvent',
                //    type: 'POST',

                //});
                $('#IdEventInvate').val(Id);
                //$('#InviteUser').modal('show');

                Swal.fire(
                    'We are so sorry!',
                    'We are working in this action.',
                    'info'
                )
            }
        })
    }
    function SaveNotificationEvent()
    {
        var data =
        {
            IdUser : $('#IdUserInvite').val(),
            IdEvent : $('#IdEventInvate').val()
        }
        $.ajax({
            url: "/Api/EventNotifications",
            type: "POST",
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (result) {

                if (result.Status === true) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Your invitation has been sent',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    $('#InviteUser').modal('hide');
                    LoadScheduleEvent();
                    ClearSchedule();
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: result.Message,
                    })
                }

            }

        });
    }
    function LoadInviteUser()
    {
        $.ajax({
            url: '/Api/EventNotifications/',
            type: 'GET',
            dataType: 'json',

            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                var html = '';
                let TypeEvent = ['Exclusive', 'Shareable'];
                $.each(result.Data, function (key, item) {
                    html += '<div class="col mb-3">';
                    if (item.TypeEvent === 2) {
                        html += '<div class="card h-100">';
                    }
                    else {
                        html += '<div class="card border-danger h-100">';
                    }
                    html += '<svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>';
                    html += '<div class="card-body">';
                    html += '<h4 class="card-title">' + item.Name + '</h4>';
                    html += '<p class="card-text">' + item.Description + '</p><br/>';
                    html += '<span><b>Created by:</b>   ' + item.UserOwner + '</span></br>';


                    html += '<span><b>Type:</b>   ' + TypeEvent[item.TypeEvent - 1] + '</span></br>';
                    html += '<span><b>Date:</b>   ' + item.Date + '</span></br>';
                    html += '<span><b>Place:</b>   ' + item.Place + '</span></br>';
                    html += '<span><b>Participants:</b>   ' + item.Participants; +'</span></br>';
                    html += '<hr/>';
                    //html += '<button class="btn btn-info float-lg-right" onclick="GetByID(' + item.IdEvent + ')"><i class="fa fa-pencil"></i></button >';
                    //html += '<button class="btn btn-danger float-lg-right" onclick="Delete(' + item.IdEvent + ')"><i class="fa fa-trash"></i></button>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                })

                $('.cardScheduleEvent').html(html);

            }

        });

    }

</script>